.container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .table-content-class {
    overflow: auto;
    max-height: 80em;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  pre {
    background-color: #f8f8f8;
    padding: 10px;
    overflow-x: auto;
  }
  .cls-prev {
    margin-right: 20px;
  }