<div class="row gx-3">
    <div class="col-12">
       <div class="card-content">
        <div>
            <dx-form
                #formRecaudos
                id="formRecaudos"
                labelLocation="top"
                [formData]="FRecaudos"
                [readOnly]="readOnlyForm"
                [colCount]="2"
                labelLocation="left"
                >
                <dxi-item caption="Identificación" itemType="group" >

                    <dxi-item itemType="group" colCount="2" >

                        <dxi-item dataField="DOCUMENTO"
                            editorType="dxSelectBox"
                            [editorOptions]="{placeholder:'Documento'}"
                        >
                            <dxo-label text="Documento"></dxo-label>
                            <div *dxTemplate>
                                <dx-select-box
                                    #xs_DOCUMENTO
                                    id="xs_DOCUMENTO"
                                    [dataSource]="DDocumentos" 
                                    [(value)]="FRecaudos.DOCUMENTO" 
                                    [searchEnabled]="true"
                                    displayExpr="DOCUMENTO"
                                    valueExpr="DOCUMENTO"
                                    searchMode="contains"
                                    [acceptCustomValue]="true"
                                    [readOnly]="readOnly"
                                    [dropDownOptions]="dropDownOptions">
                                >
                                </dx-select-box>
                            </div>
                        </dxi-item>

                        <dxi-item>
                        </dxi-item>

                    </dxi-item>

                    <dxi-item itemType="group" colCount="2" >

                        <dxi-item dataField="FECHA"editorType="dxDateBox">
                            <div *dxTemplate>
                                <dx-date-box 
                                    type="date" 
                                    [readOnly]="readOnly" 
                                    [value]="FRecaudos.FECHA" 
                                    (onValueChanged)="onChangeFecha($event)">
                                </dx-date-box>
                            </div>
                            <dxo-label text="Fecha"></dxo-label>
                        </dxi-item>
    
                        <dxi-item dataField="HORA" [editorOptions]="{ readOnly: true }">
                            <dxo-label text="Hora"></dxo-label>
                            <div *dxTemplate>
                                <dx-date-box 
                                    type="datetime" 
                                    [readOnly]="true" 
                                    displayFormat="hh:mm:ss" 
                                    [value]="FRecaudos.HORA" >
                                </dx-date-box>
                            </div>
                        </dxi-item>
    
                    </dxi-item>

                </dxi-item>

                <dxi-item caption="Estado y Usuario" itemType="group" >

                    <dxi-item itemType="group" colCount="2" >
                        <dxi-item dataField="ESTADO">
                            <dxo-label text="Estado"></dxo-label>
                            <div *dxTemplate>
                                <dx-select-box
                                    #dxEstado
                                    id="dxEstado"
                                    [dataSource]="['ANULADO','REGISTRADO']"
                                    [readOnly]="true"
                                    [(value)]="FRecaudos.ESTADO"
                                >
                                </dx-select-box>
                            </div>
                        </dxi-item>

                        <dxi-item dataField="USUARIO" [editorOptions]="{ readOnly: true }" >
                            <dxo-label text="Usuario"></dxo-label>
                        </dxi-item>
                    </dxi-item>

                    <dxi-item dataField="JUSTIFICACION" colSpan="2" [editorOptions]="{ readOnly }" >
                        <dxo-label text="Obs. Estado"></dxo-label>
                    </dxi-item>

                </dxi-item>

                <dxi-item caption="Datos recaudo" itemType="group" colCount="2">

                    <dxi-item dataField="ID_CLIENTE" >
                        <dxo-label text="Identificación"></dxo-label>
                        <div *dxTemplate>
                            <dx-select-box
                                #xs_ID_CLIENTE
                                id="xs_ID_CLIENTE"
                                [dataSource]="DClientesFac" 
                                [(value)]="FRecaudos.ID_CLIENTE" 
                                [searchEnabled]="true"
                                displayExpr="ID_CLIENTE"
                                valueExpr="ID_CLIENTE"
                                searchMode="contains"
                                [readOnly]="readOnly"
                                [dropDownOptions]="dropDownOptionsCliente"
                                (onValueChanged)="onSeleccCliente($event)"
                                >
                                <div *dxTemplate="let data of 'item'">
                                    <div style="width: 25%; float:left">
                                        {{ data.ID_CLIENTE }}
                                    </div>

                                    <div style="width: 75%; float:right;">
                                        <div class="xs-ir-a-clientes">
                                            <dx-button 
                                                width="30x" 
                                                height="15px" 
                                                (onClick)="irAClientes($event, data)" 
                                                type="success"
                                            >
                                                Ver
                                            </dx-button>
                                        </div>
                                        <div class="xs-sb-clientes">
                                            {{ data.NOMBRE_COMPLETO }}
                                        </div>
                                    </div>
                                </div>

                                <div *dxTemplate="let data of 'tempEncab'" style="width: 100%;">
                                    <dx-button icon="refresh" (onClick)="refreshClick('productos')"></dx-button>
                                    <div style="float: right;">
                                        <dx-button 
                                            icon="runner" 
                                            text="Crear cliente"
                                            type="success"
                                            (onClick)="crearCliente($event, 'clientes')">
                                        </dx-button>
                                    </div>
                                </div>
                
                            </dx-select-box>
                        </div>
                    </dxi-item>

                    <dxi-item dataField="NOMBRE" [editorOptions]="{ readOnly: true }">
                        <dxo-label text="Nombre"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="ID_PROPIEDAD" colSpan="2">
                        <dxo-label text="Propiedad"></dxo-label>
                    </dxi-item>

                </dxi-item>

                <dxi-item caption="Detalles" itemType="group" colCount="2">

                    <dxi-item dataField="DESCRIPCION" colSpan="2" 
                              [editorOptions]="{ readOnly, height: 65 }" 
                              editorType="dxTextArea" >
                        <dxo-label text="Observaciones"></dxo-label>
                    </dxi-item>

                </dxi-item>
    
                <dxi-item caption="Conceptos de pago" itemType="group" >

                    <app-HOR00502
                        [events]="eventsSubjectConceptos.asObservable()"
                        (onRespuestaConceptos)="onRespuestaConceptos($event)"
                    >
                   </app-HOR00502>

                </dxi-item>

                <dxi-item caption="Medios de Pago" itemType="group"  >

                    <app-HOR00503
                        [events]="eventsSubjectMediosPago.asObservable()"
                        (onRespuestaMediosPago)="onRespuestaMediosPago($event)"
                    >
                    </app-HOR00503>

                </dxi-item>

            </dx-form>
        </div>
        <br/>
    </div>
</div>

<div class="row gx-3">
    <div class="col-12">
      <div class="card-content card-grid">
  
        <app-HOR00501
          [events]="eventsSubjectItems.asObservable()"
          (onRespuestaItemsIndiv)="onRespuestaItems($event)"
          [DRecaudos]="FRecaudos"
        >
        </app-HOR00501>
  
      </div>
    </div>
  </div>
    
<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>

<app-filtrobusq
  [events]="eventsSubjectFiltro.asObservable()"
  (onRespuestaSelecc)="onRespuestaFiltro($event)"
  >
</app-filtrobusq>

<app-geninformes
  [events]="eventsSubjectInformes.asObservable()" 
  >
</app-geninformes>

<app-HOR00101
  [events]="eventsSubjectCliente.asObservable()"
  (onGuardarDatos)="onRespuestaCrearCliente($event)"
  >
</app-HOR00101>
